
/* BookLists.css */
/* .book-lists-container {
    text-align: center;
  }
  
  .book-lists-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .book-table {
    margin: 0 auto;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .book-table th,
  .book-table td {
    padding: 10px;
  }
  
  .book-table th {
    background-color: #e0e0e0;
    color: #333;
  }
  
  .book-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  } */